[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/DirectXMath/DirectXMath"]
	path = external/DirectXMath/DirectXMath
	url = https://github.com/microsoft/DirectXMath
